:root {
    --primary-color: #abb8cc;
    --secondary-color: #A88A88;
    --primary-blue: #485BDB;
    --primary-lightblue: #f2f2f2;
    --light-white: rgba(255, 255, 255, 0.7);

    --primary-border-radius: 10px;
    --secondary-border-radius: 5px;

    --title-font-size: 4em;
    --sub-title-font-size: 2.5em;
    --font-size-1: 1.3em;
    --font-size-2: 1em;

    --primary-gap: 20px
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

.header{
    width: 100%;
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--primary-gap);
    background-color: white;
}

.header .header-actions{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: calc(var(--primary-gap) / 2);
}

.header h1{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: var(--title-font-size);
    color: var(--secondary-color);
    width: fit-content;
    background-color: transparent;
}

.link{
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: bold;
    font-size: var(--font-size-1);
    padding: calc(var(--primary-gap) / 2);
    border-radius: var(--secondary-border-radius);
}

.link:hover{
    background-color: var(--primary-color);
}

.main-content{
    width: 100%;
    height: 90%;
}

.form-submit-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button button{
    padding: 10px;
    border-radius: var(--secondary-border-radius);
    font-size: var(--font-size-1);
    font-weight: bold;
    opacity: 1;
}

.button button:hover{
    opacity: 0.7;
    cursor: pointer;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    border-radius: var(--primary-border-radius) var(--primary-border-radius) 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    column-gap: var(--primary-gap);
    z-index: 2;
}

.footer a{
    font-size: var(--font-size-2);
}