form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-form{
    width: 40vw;
    min-width: 500px;
    padding: var(--primary-gap);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-white);
    border-radius: var(--primary-border-radius);
    row-gap: var(--primary-gap);
}

.div-form .form-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--primary-gap) / 2);
}

.form-title .main-title{
    font-weight: bold;
    font-size: var(--sub-title-font-size);
    text-align: left;
    color: var(--secondary-color);
}

.form-title .sub-title{
    width: inherit;
    font-size: var(--font-size-1);
    font-style: italic;
    text-align: left;
}

.div-form .form-error{
    width: fit-content;
    font-size: var(--font-size-2);
    font-weight: bold;
    padding: calc(var(--primary-gap) / 2);
    background-color: var(--primary-red);
    border-radius: calc(var(--primary-border-radius) / 2);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: calc(var(--primary-gap) / 4);
}

.form-error button{
    background-color: transparent;
    border: none;
}

.form-error button:hover{
    cursor: pointer;
    background: grey;
}

.div-form .form-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--primary-gap) / 2);
}

.form-content .form-input{
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--primary-gap) / 4);
}

.form-input label{
    font-size: var(--font-size-2);
    font-weight: bold;
}

.form-input input{
    padding: 5px;
    border-radius: var(--secondary-border-radius);
}

.icon{
    width: 2.5vw;
    min-width: 30px;
    min-height: 30px;
}