.toast-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1rem;
    z-index: 1050;
    width: 320px;
}

.toast {
    display: none;
    opacity: 0;
    margin-bottom: 1rem;
    border-radius: var(--primary-border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.toast.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: toast-fade-in 0.5s ease-out forwards;
}

.toast.fade-out {
    animation: toast-fade-out 0.5s ease-out forwards;
}

.toast.text-bg-success {
    background-color: var(--primary-green);
    color: white
}

.toast.text-bg-danger {
    background-color: var(--primary-red);
    color: white;
}

.toast-body {
    font-size: var(--font-size-2);
    line-height: 1.5;
    flex-grow: 1;
    padding: 1rem 40px 1rem 1rem;
}

.toast .btn-close {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px;
    font-size: var(--font-size-1);
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

@keyframes toast-fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toast-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}