<header class="header" th:fragment="header-user-not-connected">
    <div class="header-actions">
        <h1> GoatTutorats </h1>
    </div>

    <div class="header-actions">
        <div class="button">
            <form th:action="@{/auth/get-login-page}" th:method="GET">
                <button type="submit">Se connecter</button>
            </form>
        </div>
    </div>
</header>

<header class="header" th:fragment="header-user-connected">
    <div class="header-actions">
        <h1> GoatTutorats </h1>

        <a class="link" th:href="@{/apprentice/get-dashboard}"> Dashboard </a>
        <a class="link" th:href="@{/apprentice/get-apprentice-research}"> Rechercher des apprentis </a>
        <a class="link" th:href="@{/apprentice/get-dashboard}"> Importer des apprentis </a>
    </div>

    <div class="header-actions justify-end">
        <div class="button">
            <form th:action="@{/auth/get-login-page}" th:method="GET">
                <button disabled>Bonjour <span th:if="${username}" th:text="${username}"> </span></button>
            </form>
        </div>

        <div class="button">
            <form th:action="@{'/auth/logout'}" th:method="POST">
                <button type="submit">Se déconnecter</button>
            </form>
        </div>
    </div>
</header>