<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoatTutorats</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/apprentice.css}" rel="stylesheet" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
    <script th:src="@{/js/apprentice.js}"></script>
</head>
<body>

<!-- import header section for connected user -->
<header th:replace="~{fragments/header :: header-user-connected}">
</header>

<main class="main-content">

    <div class="apprentice">
        <div class="div-apprentice">

            <div class="apprentice-section-selector">
                <span th:text="${formName}"></span>
                <button data-section="apprentice-personal-information">Informations générales</button>
                <button data-section="company-information-section">Entreprise</button>
                <button data-section="mentor-information-section">Maître d'apprentissage</button>
                <button data-section="mission-information-section">Missions</button>
                <button data-section="visit-information-section">Visite</button>
                <button data-section="school-evaluation-information-section">Evaluation-école</button>
                <button data-section="note-information-section">Remarques</button>
            </div>

            <div class="apprentice-information-section">
                <form th:action="${formAction}" th:method="${formMethod}" th:object="${apprenticeAcademicYear}" >
                    <div class="apprentice-information-section-form">
                        <div class="sections">
                            <div id="apprentice-personal-information" class="section">

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="apprentice.firstName">
                                            Prénom <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Prénom" th:required="required" th:field="*{apprentice.firstName}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="apprentice.lastName">
                                            Nom <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Nom" th:required="required" th:field="*{apprentice.lastName}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="apprentice.program">
                                            Programme
                                        </label>
                                        <input type="text" placeholder="Programme" th:required="required" th:field="*{apprentice.program}" />
                                    </div>

                                    <div class="column-information">
                                        <label for="apprentice.major">
                                            Majeure <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Majeure" th:required="required" th:field="*{apprentice.major}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="apprentice.email">
                                            Adresse mail <span class="color-red">*</span>
                                        </label>
                                        <input type="email" placeholder="Adresse mail" th:required="required" th:field="*{apprentice.email}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="apprentice.phone">
                                            Téléphone <span class="color-red">*</span>
                                        </label>
                                        <input type="number" class="no-arrow" placeholder="Numéro de téléphone" th:required="required" th:field="*{apprentice.phone}"/>

                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="studyLevel">
                                            Niveau d'étude
                                        </label>
                                        <select th:field="*{studyLevel}" th:disabled="disabled">
                                            <option th:each="studyLevelOption : ${T(com.example.goatTutorats.enums.StudyLevel).values()}" th:value="${studyLevelOption}" th:text="${studyLevelOption}"></option>
                                        </select>
                                    </div>

                                    <div class="column-information">
                                        <label for="yearDisplayed">
                                            Année académique
                                        </label>
                                        <input type="hidden" th:id="year" th:name="year" th:required="required" th:field="*{year}" th:readonly="readonly" />
                                        <input type="text" th:id="yearDisplayed" th:name="yearDisplayed" th:required="required" th:value="${#temporals.year(apprenticeAcademicYear.year)}" th:disabled="disabled" />
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="apprentice.archived">
                                            Archivé(e) ?
                                        </label>
                                        <input class="checkbox" type="checkbox" th:id="apprentice.archived" th:name="apprentice.archived" th:required="required" th:checked="${apprenticeAcademicYear.apprentice.archived}" th:disabled="disabled" />
                                    </div>
                                </div>
                            </div>

                            <div id="company-information-section" class="section">
                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="company.name">
                                            Raison sociale <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Raison sociale" th:required="required" th:field="*{company.name}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="company.address">
                                            Addresse <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Addresse" th:required="required" th:field="*{company.address}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <label for="company.accessInfo">
                                            Informations utiles pour accéder aux locaux
                                        </label>
                                        <textarea rows="8" th:field="*{company.accessInfo}"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="mentor-information-section" class="section">
                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="mentor.firstName">
                                            Prénom <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Prénom" th:required="required" th:field="*{mentor.firstName}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="mentor.lastName">
                                            Nom <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Nom" th:required="required" th:field="*{mentor.lastName}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="mentor.position">
                                            Poste <span class="color-red">*</span>
                                        </label>
                                        <input type="text" placeholder="Position" th:required="required" th:field="*{mentor.position}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="mentor.email">
                                            Adresse mail <span class="color-red">*</span>
                                        </label>
                                        <input type="email" placeholder="Adresse mail" th:required="required" th:field="*{mentor.email}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="mentor.phone">
                                            Téléphone <span class="color-red">*</span>
                                        </label>
                                        <input type="number" class="no-arrow" placeholder="Téléphone" th:required="required" th:field="*{mentor.phone}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <label for="mentor.remarks">
                                            Remarques
                                        </label>
                                        <textarea rows="8" th:field="*{mentor.remarks}"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="mission-information-section" class="section">

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <div class="button-actions">
                                            <div class="button"><button type="button" onclick="addNewMissionEntry()">Ajouter une nouvelle mission</button></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <table id="table-missions" class="table">
                                            <thead>
                                            <th>Métier cible (réf. Cigref) <span class="color-red">*</span> </th>
                                            <th>Mots-clés <span class="color-red">*</span></th>
                                            <th>Commentaires <span class="color-red">*</span></th>
                                            </thead>

                                            <tbody>

                                            <tr class="apprentice-mission" th:each="mission, itemStat : *{missions}">
                                                <td>
                                                    <input class="row-length-95" type="text" th:required="required" th:field="*{missions[__${itemStat.index}__].targetJob}"/>
                                                </td>
                                                <td>
                                                    <textarea rows="5" class="row-length-95 textarea-row3" th:required="required" th:field="*{missions[__${itemStat.index}__].keywords}"></textarea>
                                                </td>
                                                <td>
                                                    <textarea rows="5" class="row-length-95 textarea-row3" th:required="required" th:field="*{missions[__${itemStat.index}__].comments}"></textarea>
                                                </td>
                                            </tr>
                                            </tbody>

                                            <tfoot>
                                            <tr>
                                                <td colspan="7" th:if="${apprenticeAcademicYear.missions.size() > 0}">
                                                    <span th:text="${apprenticeAcademicYear.missions.size()}"></span> mission(s) au total.
                                                </td>
                                            </tr>
                                            <tr class="table-empty">
                                                <td th:if="${apprenticeAcademicYear.missions.size() == 0}" colspan="7">La liste est vide.</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div id="visit-information-section" class="section">
                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="visit.date">
                                            Date
                                        </label>
                                        <input type="date" th:field="*{visit.date}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="visit.format">
                                            Format
                                        </label>
                                        <input type="text" th:field="*{visit.format}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <label for="visit.comments">
                                            Commentaires
                                        </label>
                                        <textarea rows="8" th:field="*{visit.comments}"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div id="school-evaluation-information-section" class="section">
                                <div class="row-information">
                                    <div class="column-information">
                                        <span class="section-title">
                                            Mémoire / Rapport
                                        </span>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="reportEvaluation.thesis">
                                            Thème
                                        </label>
                                        <input type="text" placeholder="Thème" th:field="*{reportEvaluation.thesis}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="reportEvaluation.topic">
                                            Sujet
                                        </label>
                                        <input type="text" placeholder="Sujet" th:field="*{reportEvaluation.topic}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="reportEvaluation.finalGrade">
                                            Note finale
                                        </label>
                                        <input type="number" th:field="*{reportEvaluation.finalGrade}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <label for="reportEvaluation.comments">
                                            Commentaires
                                        </label>
                                        <textarea rows="5" th:field="*{reportEvaluation.comments}"></textarea>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <span class="section-title">
                                            Soutenance
                                        </span>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information">
                                        <label for="oralExam.date">
                                            Date
                                        </label>
                                        <input type="date" th:field="*{oralExam.date}"/>
                                    </div>

                                    <div class="column-information">
                                        <label for="oralExam.finalGrade">
                                            Note finale
                                        </label>
                                        <input type="number" th:field="*{oralExam.finalGrade}"/>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <label for="oralExam.comments">
                                            Commentaires
                                        </label>
                                        <textarea rows="5" th:field="*{oralExam.comments}"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div id="note-information-section" class="section">
                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <div class="button-actions">
                                            <div class="button"><button type="button" onclick="addNewRemarkEntry()">Ajouter une nouvelle remarque</button></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row-information">
                                    <div class="column-information full-row-length">
                                        <table id="table-remarks" class="table">
                                            <thead>
                                            <th>Auteur <span class="color-red">*</span></th>
                                            <th>Remarque <span class="color-red">*</span></th>
                                            </thead>

                                            <tbody>

                                            <tr class="apprentice-note" th:each="note, itemStat : *{notes}">
                                                <td>
                                                    <input class="row-length-95" type="text" th:required="required" th:field="*{notes[__${itemStat.index}__].author}"/>
                                                </td>
                                                <td>
                                                    <textarea rows="3" class="row-length-95 textarea-row3" th:required="required" th:field="*{notes[__${itemStat.index}__].comments}"></textarea>
                                                </td>
                                            </tr>
                                            </tbody>

                                            <tfoot>
                                            <tr>
                                                <td colspan="7" th:if="${apprenticeAcademicYear.notes.size() > 0}">
                                                    <span th:text="${apprenticeAcademicYear.notes.size()}"></span> remarque(s) au total.
                                                </td>
                                            </tr>
                                            <tr class="table-empty">
                                                <td th:if="${apprenticeAcademicYear.notes.size() == 0}" colspan="7">La liste est vide.</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-submit-button button">
                            <div th:if="${#fields.hasAnyErrors()}">
                                <ul>
                                    <li th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                                </ul>
                            </div>
                            <button th:text="${submitFormButtonName}" type="submit">Mettre à jour</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>