<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoatTutorats</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
</head>
<body>

<!-- import header section for connected user -->
<header th:replace="~{fragments/header :: header-user-connected}">
</header>

<main class="main-content">
    <div class="dashboard">
        <div class="div-dashboard">

            <div class="dashboard-description">
                <div>
                    <span> Année académique en cours : <span th:text="${currentYear}" class="color-red text-bold"></span></span>
                </div>

                <div class="button-actions">
                    <div class="button"><button>Créer une nouvelle année</button></div>
                    <div class="button"><button>Ajouter un apprenti</button></div>
                </div>
            </div>

            <div class="dashboard-content">
                <table class="table">
                    <thead>
                        <th>Nom & Prénom</th>
                        <th>Adresse électronique</th>
                        <th>Programme</th>
                        <th>Majeure</th>
                        <th>Entreprise</th>
                        <th>Métier cible</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>

                    <tr th:each="apprentice : ${apprentices}">
                        <td th:text="${apprentice.firstName} + ' ' + ${apprentice.lastName}"></td>
                        <td th:text="${apprentice.email}"></td>
                        <td th:text="${apprentice.program}"></td>
                        <td th:text="${apprentice.major}"></td>
                        <td th:text="${apprentice.companyName}"></td>
                        <td th:text="${apprentice.targetJob}"></td>
                        <td>
                            <div class="button-actions">
                                <form th:action="@{/academicYear/get-apprentice-academic-year/{apprenticeAcademicYearId}(apprenticeAcademicYearId=${apprentice.apprenticeAcademicYearId})}" th:method="GET">
                                    <div class="button"><button type="submit">Modifier</button></div>
                                </form>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td th:if="${apprentices.size() > 0}"  colspan="7"> <span th:text="${apprentices.size()}"></span> apprenti(s) au total.</td>
                        </tr>
                        <tr class="table-empty">
                            <td th:if="${apprentices.size() == 0}" colspan="7">La liste est vide. Ajoutez au moins un apprenti</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>