<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoatTutorats</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" />
    <link th:href="@{/css/confirmation-popup.css}" rel="stylesheet" />
    <link th:href="@{/css/toast.css}" rel="stylesheet" />
    <script th:src="@{/js/toast.js}"></script>
    <script th:src="@{/js/confirmation-popup.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
</head>
<body>

<!-- import header section for connected user -->
<header th:replace="~{fragments/header :: header-user-connected}">
</header>

<!-- section for academic year creation validation -->
<div th:replace="~{fragments/confirmation-popup :: confirmation-popup(
    popupId='popup-add-academic-year',
    title='Ajouter une nouvelle année académique',
    content='Etes-vous sûr de vouloir ajouter une nouvelle année académique.<br>L\'action sera irréversible.<br>Cela archivera tous les apprentis qui sont en ING3 et changera d\'année pour les autres apprentis.',
    confirmAction='/academicYear/create-academic-year',
    confirmMethod='POST'
)}">
</div>


<!-- section for toast messages -->
<div th:replace="~{fragments/toast :: toast-messages}"></div>

<main class="main-content">
    <div class="dashboard">
        <div class="div-dashboard">

            <div class="dashboard-description">
                <div class="dashboard-description-content">
                    <div>
                        <form th:method="GET" th:action="@{/apprentice/get-dashboard-for-particular-year}" th:object="${selectedYearForm}">
                            <label for="year">
                                Sélectionnez l'année académique
                            </label>
                            <select th:id="select-year" th:field="*{selectedYearId}">
                                <option th:each="currentYear : ${years}" th:value="${currentYear.id}" th:text="${#temporals.year(currentYear.year)}"></option>
                            </select>
                            <button th:id="btn-select-year" th:hidden="hidden" type="submit"></button>
                        </form>
                    </div>
                    <div>
                        <span> Année académique en cours : <span th:if="selectedYear != null" th:text="${#temporals.year(selectedYear.year)}" class="color-red text-bold"></span></span>
                    </div>
                </div>

                <div class="button-actions">
                    <div class="button">
                        <button type="button" onclick="openPopup('popup-add-academic-year')">Créer une nouvelle année</button>
                    </div>
                    <div class="button">
                        <form th:method="GET" th:action="@{/academicYear/get-apprentice-academic-year-creation}">
                            <button type="submit">Ajouter un(e) apprenti(e)</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="dashboard-content">
                <table class="table">
                    <thead>
                        <th>Apprenti(e)</th>
                        <th>Adresse électronique</th>
                        <th>Programme</th>
                        <th>Majeure</th>
                        <th>Entreprise</th>
                        <th>Maître d'apprentissage</th>
                        <th>Niveau d'étude</th>
                        <th>Actions</th>
                    </thead>

                    <tbody>

                    <tr th:each="apprentice : ${apprentices}">
                        <td th:text="${apprentice.firstName} + ' ' + ${apprentice.lastName}"></td>
                        <td th:text="${apprentice.email}"></td>
                        <td th:text="${apprentice.program}"></td>
                        <td th:text="${apprentice.major}"></td>
                        <td th:text="${apprentice.companyName}"></td>
                        <td th:text="${apprentice.mentorFirstName + ' ' + apprentice.mentorLastName}"></td>
                        <td th:text="${apprentice.studyLevel}"></td>
                        <td>
                            <div class="button-actions">
                                <form th:action="@{/academicYear/get-apprentice-academic-year/{apprenticeAcademicYearId}(apprenticeAcademicYearId=${apprentice.apprenticeAcademicYearId})}" th:method="GET">
                                    <div class="button"><button type="submit">Détails</button></div>
                                </form>
                            </div>
                        </td>
                    </tr>

                    </tbody>

                    <tfoot>
                        <tr>
                            <td th:if="${apprentices.size() > 0}"  colspan="8"> <span th:text="${apprentices.size()}"></span> apprenti(es) au total.</td>
                        </tr>
                        <tr class="table-empty">
                            <td th:if="${apprentices.size() == 0}" colspan="8">La liste est vide. Ajoutez au moins un apprenti(e)</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>