<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoatTutorats</title>
    <link th:href="@{/css/base.css}" rel="stylesheet" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <link th:href="@{/css/confirmation-popup.css}" rel="stylesheet" />
    <script th:src="@{/js/login.js}"></script>
</head>
<body>

<!-- import header section for not connected user -->
<header th:replace="~{fragments/header :: header-user-not-connected}">
</header>

<main class="main-content">

    <div th:if="${param.logout}">
        You have been logged out.</div>

    <form th:action="@{/auth/login}" th:method="POST" th:object="${user}">
        <div class="div-form">
            <div class="form-title">
                <span class="main-title"> Page de connexion </span>

                <span class="sub-title"> Saisissez vos identifiants pour se connecter </span>
            </div>

            <div class="form-content">
                <div class="form-input">
                    <label for="username">
                        Nom d'utilisateur
                    </label>
                    <input type="text" placeholder="Nom d'utilisateur" th:field="*{username}"/>
                </div>

                <div class="form-input">
                    <label for="password">
                        Mot de passe
                    </label>
                    <input type="password" placeholder="Mot de passe" th:field="*{password}"/>
                </div>
            </div>

            <div class="div-error" th:if="${param.error}">
                <span>Nom d'utilisateur / mot de passe invalide(s).</span>
                <button type="button" id="button-reload-page" onclick="reloadPage()">
                    <img class="icon" src="/img/arrow.png" alt="Croix pour supprimer le message" >
                </button>
            </div>

            <div class="form-submit-button button">
                <button type="submit">Se connecter</button>
            </div>
        </div>
    </form>
</main>

<footer th:replace="~{fragments/footer :: footer}">
</footer>

</body>
</html>